.ekoodi-user-list-title{
  font-size: 18px;
  color: cornflowerblue;
  font-family: "Microsoft New Tai Lue";
}
.ekoodi-component-list{
  font-size: 28px;
  color: slategrey;
  font-family: "Arial Black";
}
